.settings, .result {
  margin-top: 8px;
}

.settings__title, .result__title {
  font-size: 24px;
}

.setting {
}

.setting__title {
  font-size: 20px;
}

.setting__options {
  padding-top: 4px;
}

.result__text {
  font-size: 20px;
}

.color--red {
  color: #ea4335;
}

.color--yellow {
  color: #fbbc05;
}

.color--blue {
  color: #4285f4;
}
